/** Page styling **/
main {
   width: 90%;
   max-width: 30em;
}

.information-section {
   gap: 2em;
}

.information-section__details {
   gap: 1em;
}

.form__item {
   gap: 1em;
}

.information-section h1{
   font-size: 1.75em;
}

.information-section__details h2 {
   font-size: 1em;
}

/** CTA **/
.cta {
   margin-top: 1.5em;
   width: fit-content;
}

.cta-disabled,
.cta-enabled{
   padding: 0.5em 6em;
}

.cta-disabled {
   background-color: #c4c4c4;
}

.cta-disabled:hover {
   cursor: default;
   transform: none;
   background-color: #c4c4c4;
}

.cta-overlay {
   margin: 0;
   padding: 0.5em 2em;
   margin-bottom: 2em;
}

.close-button {
   position: absolute;
   top: 0;
   right: 0;
   border: none;
   font-size: 1.5em;
   padding: 0.25em;
   cursor: pointer;
   background-color: var(--bg-reg);
   transition: 300ms ease;
}

.close-button:hover{
   color: var(--text-color-hover);
}

/** Form styling **/
input {
   height: 40px;
}

textarea {
   height: 100px;
   resize: none;
}

label {
   font-weight: var(--fw-medium);
   font-size: 1em;
   margin-bottom: -15px;
}

form {
   gap: 1em;
}

input:focus,
textarea:focus {
   border: 3px solid #767676;
   outline: none;
}

input,
textarea {
   padding-left: 5px;
   font-family: var(--ff-poppins);
   border: 1px solid #767676;
}

textarea {
   padding-top: 5px;
}

.input-error {
   display: none;
   color: red;
   font-size: 12px;
   margin-top: -12px;
   margin-left: 2px;
}

.input-required {
   font-size: 12px;
   font-weight: var(--fw-light);
}

.form-complete{
   color: green;
   font-weight: var(--fw-medium);
}

/** Overlay Container **/
.overlay-container {
   width: 90%;
   max-width: 30em;
   background-color: var(--bg-reg);
   position: absolute;
   top: 50%;
   text-align: center;
   border: 1px solid #000;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2em;
   padding: 2.5em 1.5em; 
}

.overlay-container__info {
   gap: 0.5em;
   margin-top: 2em;
}

@media (min-width: 730px) {
   .cta-overlay,
   .overlay-container__info {
      width: 50%;
   }

   .information-section__details h2 {
      font-size: 1.25em;
   }

   .information-section__details {
      gap: 3em;
   }

   main,
   .overlay-container{
      max-width: 40em;
   }
}