main {
   margin: 4em 0;
}

.post-container img{
   width: 100%;
   height: auto;
   box-shadow: 1px -1px 29px 2px rgba(0,0,0,0.2);
   border-radius: 0.25em;
}

.post-container img:hover {
   cursor: pointer;
}

.post-container {
   width: 90%;
   margin: 0 auto;
   max-width: 30em;
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 1em;
   background-color: #fff;
}

.post-instruction-list,
.post-ingredients-list {
   list-style: none;
}

.post-date {
   display: none;
}

.post-title {
   font-size: 2em;
}

.post-description {
   font-size: 14px;
}

.post-ingredients-heading,
.post-instruction-heading {
   font-size: 1.625em;
   margin-top: 2em;
}

.post-ingredients-list,
.post-instruction-list {
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.post-instruction-list {
   padding: 0 3em 3em;
   font-size: 14px;
   gap: 1.5em;
}

/** Modal styling **/
.modal-container .post-title,
.modal-container .post-date,
.modal-container .post-description,
.modal-container .post-ingredients-heading,
.modal-container .post-ingredients-list,
.modal-container .post-instruction-heading,
.modal-container .post-instruction-list {
   display: none;
}

.modal-container img {
   width: 100%;
   height: auto;
}

dialog {
   width: 90%;
   margin: 0 auto;
   border: none;
   box-shadow: 1px -1px 29px 2px rgba(0,0,0,0.2);
   border-radius: 0.25em;
   max-width: 37.5em;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
}

dialog::backdrop {
   background-color: rgba(0,0,0,0.35);
}

@media (min-width: 730px) {
   .post-container {
      padding: 6em;
      max-width: 45em;
   }

   main {
      margin: 0;
   }

   .post-instruction-list {
      padding: 0 2em;
   }

   dialog {
      width: 100%;
   }
}

@media (min-width: 1200px) {
   dialog {
      top: 0;
      left: 0;
      margin: 8% auto;
      transform: none;
   }
}