/** General styling **/
main {
   width: 90%;
   max-width: 30em;
   gap: 2em;
}

/** Posts Container **/
.posts-container {
   gap: 3em;
}

/** Unique Post section**/
.all-posts__post {
   display: flex;
   flex-direction: column;
   gap: 0.5em;
   padding: 2em;
   transition: 300ms ease;
   background: var(--bg-reg);
   border-bottom: 1px solid #b5b5b5;
   box-shadow: var(--bs-reg);
   cursor: pointer;
   border-radius: 0.25em;
   color: #000;
   text-decoration: none;
}

.all-posts__post:hover {
   transform: scale(1.05);
}

.all-posts__post img{
   width: 100%;
   height: auto;
}

.post-ingredients-heading,
.post-ingredients-list,
.post-instruction-heading,
.post-instruction-list {
   display: none;
}

.post-description {
   font-size: 12px;
}

.post-title{
   font-size: 1.75em;
}

.post-date{
   font-size: 0.75em;
}

/** View more button **/
.view-more {
   width: fit-content;
   align-self: flex-end;
   padding: 0.5em 1em;
   margin-top: 3em;
}

.view-more__text {
   font-family: var(--ff-poppins);
   font-weight: var(--fw-sbold);
}

/** Responsive Design **/
@media (min-width: 730px) {
   main {
      max-width: 93.75em;
   }
   
   .posts-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, auto);
      gap: 6em;
   }
}

@media (min-width: 1200px) {
   .posts-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(2, auto);
      gap: 8em;
   }
}