/** Post details styling **/
.post-container img{
   width: 100%;
   height: auto;
   box-shadow: var(--bs-reg);
   border-radius: 0.25em;
}
.post-container img:hover {
   cursor: pointer;
}
.post-container {
   width: 90%;
   margin: 0 auto;
   max-width: 30em;
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 1em;
   background-color: #fff;
}
.post-instruction-list,
.post-ingredients-list {
   list-style: none;
}
.post-date {
   display: none;
}
.post-title {
   font-size: 2em;
}
.post-description {
   font-size: 14px;
}
.post-ingredients-heading,
.post-instruction-heading {
   font-size: 1.625em;
   margin-top: 2em;
}
.post-ingredients-list,
.post-instruction-list {
   display: flex;
   flex-direction: column;
   gap: 1em;
}
.post-instruction-list {
   padding: 0 3em 3em;
   font-size: 14px;
   gap: 1.5em;
}

/** Modal styling **/
.modal-container .post-title,
.modal-container .post-date,
.modal-container .post-description,
.modal-container .post-ingredients-heading,
.modal-container .post-ingredients-list,
.modal-container .post-instruction-heading,
.modal-container .post-instruction-list {
   display: none;
}
.modal-container img {
   width: 100%;
   height: auto;
}
dialog {
   width: 90%;
   height: fit-content;
   margin: 0 auto;
   border: none;
   box-shadow: var(--bs-reg);
   border-radius: 0.25em;
   max-width: 37.5em;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
dialog::backdrop {
   background-color: rgba(0,0,0,0.35);
}

@media (min-width: 730px) {
   .post-instruction-list {
      padding: 0 2em;
   }
   dialog {
      width: 100%;
   }
   .post-container {
      padding: 2em;
      max-width: 50em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, auto);
      column-gap: 2em;
      row-gap: 0.5em;
   }
   .post-image {
      grid-row: 1 / span 2;
   }
   .post-title {
      grid-column: 2 / 2;
      display: flex;
      align-items: flex-end;
      justify-content: center;
   }
   .post-description {
      grid-column: 2 / 2;
   }
   .post-ingredients-list {
      grid-column: 1 / 2;
   }
   .post-instruction-list {
      grid-column: 2 / 2;
   }
   .post-instruction-heading {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
   }
}

@media (min-width: 1200px) {
   dialog {
      top: 0;
      left: 0;
      margin: 8% auto;
      transform: none;
   }
}