@import url(/css/variables.css);

/** Reset and General Styling **/
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: var(--ff-poppins);
   background-color: var(--bg-reg);
}

main {
   display: flex;
   flex-direction: column;
   gap: 3em;
   margin: 2em auto;
}

/** Utility Classes **/
.flex-col-to-row,
.flex-col {
   display: flex;
   flex-direction: column;
}

.flex-row {
   display: flex;
}

/** Loading API and API error **/
.loading {
   border: 24px solid #c4c4c4;
   border-top: 24px solid #000;
   border-radius: 50%;
   width: 200px;
   height: 200px;
   margin: 5em auto;
   animation: loading 3s linear infinite;
}

@keyframes loading {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

.error {
   border: 1px solid red;
   color: red;
   text-align: center;
   padding: 1em;
}

/** Header and Navigation **/
header {
   width: 90%;
   max-width: 30em;
   margin: 0 auto;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--bg-reg);
}

.nav-bar__list {
   list-style: none;
   display: block;
   text-align: center;
   padding: 1em 0;
   transition: 350ms ease;
   position: absolute;
   top: 80px;
   left: -100%;
   width: 100%;
   background: var(--bg-reg);
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
}

.nav-bar__list.show-nav {
   left: 0;
   box-shadow: 0px 10px 5px hsl(0, 0, 0, 0.1);
}

.nav-bar__list li {
   padding: 1em 0;
}

.nav-bar__list li a,
.logo a {
   text-decoration: none;
   color: #000;
   transition: 300ms ease;
   text-transform: uppercase;
}

.logo a i{
   font-size: 1.35em;
}

.logo a span{
   font-weight: var(--fw-sbold);
   font-size: 1.5em;
}

.hamburger-menu {
   cursor: pointer;
}

.header-right-side {
   display: flex;
   gap: 0.35em;
   align-items: center;
}

.hamburger-menu,
.instagram-logo {
   display: flex;
   font-size: 1.65em;
}

.instagram-logo i{
   color: var(--color2);
}

.nav-bar__list li a {
   font-size: 1.225em;
}

.nav-bar__list li a:hover,
.logo a:hover{
   color: var(--text-color-hover);
}

.nav-bar__list li a.active-page {
   font-weight: var(--fw-sbold);
}

/** Footer **/
footer {
   width: 90%;
   margin: 0 auto;
   padding: 2em 0;
   text-align: center;
   gap: 1em;
}

.social-media-icons {
   gap: 1em;
   justify-content: center;
   font-size: 2em;
   color: var(--color2);
}

footer p {
   font-size: 18px;
   font-weight: var(--fw-medium);
}

/** Responsive **/
@media (min-width: 730px) {
   /** General styling **/
   

   /** Utility Classes **/
   .flex-col-to-row {
      flex-direction: row;
   } 
   
   /** Header and Navigation **/
   header {
      height: 100px;
      max-width: 93.75em;
   }

   .hamburger-menu {
      display: none;
   }

   .nav-bar__list {
      position: static;
      display: flex;
      align-items: center;
      gap: 2em;
      border: none;
   }

   .header-right-side {
      gap: 2em;
   }

   .logo a span{
      font-size: 2em;
   }

   .logo a i{
      font-size: 1.75em;
   }
}