/** General styling **/
main {
   display: flex;
   flex-direction: column;
   width: 90%;
   max-width: 30em;
   margin: 2em auto;
   gap: 2em;
}

/** Posts Container **/
.posts-container {
   gap: 3em;
}

/** Unique Post section**/
.all-posts__post {
   display: flex;
   flex-direction: column;
   gap: 0.5em;
   padding: 2em;
   transition: 300ms ease;
   background: #fff;
   box-shadow: var(--bs-reg);
   cursor: pointer;
   border-radius: 0.25em;
   color: #000;
   text-decoration: none;
}
.all-posts__post:hover {
   transform: translateY(-0.5em);
}
.all-posts__post img{
   width: 100%;
   height: auto;
   box-shadow: var(--bs-reg);
}
.post-ingredients-heading,
.post-ingredients-list,
.post-instruction-heading,
.post-instruction-list {
   display: none;
}
.post-description {
   font-size: 12px;
}

/** View more button **/
.view-more {
   width: fit-content;
   align-self: flex-end;
   padding: 0.5em;
   background-color: #fff;
   transition: 300ms ease;
   cursor: pointer;
   border: 1px solid #c4c4c4;
   border-radius: 0.25em;
}
.view-more:hover {
   box-shadow: var(--bs-reg);
   transform: translateY(-0.1em);
}
.view-more__text {
   font-family: var(--ff-poppins);
}

/** Responsive Design **/
@media (min-width: 730px) {
   main {
      max-width: 93.75em;
   }
   .posts-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, auto);
   }
}

@media (min-width: 1200px) {
   .posts-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(2, auto);
   }
}