@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
   --ff-poppins: "Poppins", sans-serif;
   --fw-light: 300;
   --fw-regular: 400;
   --fw-medium: 500;
   --fw-sbold: 600;
   --fw-bold: 700;

   --bg-reg: #F4F4F3;

   --bs-reg: 1px -1px 29px 2px rgba(0,0,0,0.2);
   --text-color1: #000;

   --color2: #C6522F;
   --color2-hover: #e06d4a;
   --text-color-hover: #547AA5;

   --color-black: #000;
   --color-white: #fff;
}